{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Good Luck 
{% endblock %}

{% block content %}
<p style="text-align: right;"><span style="color: #000080;"><strong>שלום רב</strong></span></p>
<p style="text-align: right;"><span style="color: #000000;"><strong>אנא השלימו את המבוכים הבאים</strong></span></p>
<p style="text-align: right;"><span style="color: #000000;"><strong>בעת ביצוע המטלה יוכלו לצפות בך עוזרי מחקר על מנת להעריך את ביצועך</strong></span></p>
<p style="text-align: right;"><span style="color: #000080;"><strong>!בהצלחה</strong></span></p>
<p>&nbsp;</p>


    {% next_button %}


{% endblock %}
